body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;

}

.orange-colour {
    color: rgb(247, 168, 22);
}

.flexible-cotainer {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;


}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange, #e44f0a);
    padding: 10px 40px;
    border-radius: 5px;
}

.banner {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.Experiences-area {
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.left-border-color {
    border-left: 8px solid orangered;
}

.right-border-color {
    border-left: 8px solid rgb(23, 207, 100);
}

.foot {
    text-align: center;
}